AZURE_SUBSCRIPTION_ID=00000000-0000-0000-0000-000000000000
AZURE_RESOURCE_GROUP=rg-azureml-learning
AZURE_ML_WORKSPACE=mlw-learning
AZURE_ML_COMPUTE=cpu-cluster
AZURE_ML_DATASTORE=workspaceblobstore
AZURE_ML_ONLINE_ENDPOINT=azureml-course-endpoint
AZURE_ML_DEPLOYMENT=blue
AZURE_LOCATION=eastus